<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.happychristmasradio"
        version   = "1.0.0">

    <name>Christmas radio</name>

    <description>
        Christmasradio app
    </description>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />

    <preference name="permissions"  value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <access origin="*" />

    <feature name="Media">
        <param name="android-package" value="org.apache.cordova.AudioHandler" />
    </feature>

    <icon src="icon.png" />

</widget>